<div class="container">

  <%= render :partial => '/refinery/pages/content_page',
    :locals => {
      :book_banner_graphic => @book_banner_graphic,
      :book_banner_image => @book_banner_image,
      :book_banner_color_tag => (@book_banner_color_tag ||"")
    }
  %>

</div>

