<%
  if !!local_assigns[:apply_css] and (classes = menu_branch_css(local_assigns)).any?
    css = "class='#{classes.join(' ')}'".html_safe
  end
-%>

<%- parent = menu_branch.parent %>
<%- page_name = parent.to_a[7][1].to_a[2][1][0].to_s unless parent.nil?%>

<% unless page_name.nil? %>
  <% if request.fullpath.include?(page_name) %>
    <ul>
      <li <%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %> >
        <%= link_to(menu_branch.title, refinery.url_for(menu_branch.url))-%>
      </li>
    </ul>
  <% end -%>
<% end -%>

<% if ( (children = menu_branch.children unless hide_children).present? && (!local_assigns[:menu_levels] || menu_branch.ancestors.length < local_assigns[:menu_levels]) ) -%>
  <ul class='clearfix'>
  <%= render :partial => '/refinery/menu_branch', :collection => children, :locals => { :apply_css => local_assigns[:apply_css], :hide_children => !!hide_children, :menu_levels => local_assigns[:menu_levels] } -%>
  </ul>
<% end -%>



