/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$banner_height: 67px ;
$center_span_left_margin: 80px ;

body {

  margin:0px;
  font-family: "Georgia" ;
  font-size: 16px;
  line-height: 25px;
  min-width: 950px ;

  strong{
    font-family: "helvetica", "Arial" ;
    font-weight: bold ;
    font-size: 16px;
    line-height: 25px;
  }

  h1{
    font-weight: normal ;
    font-size: 24px;
    line-height: 28px;
  }

}

.container {
  display: block ;
  background-color: #DDD7CF;
 //-webkit-border-radius: 0 0 6px 6px;
 // -moz-border-radius: 0 0 6px 6px;
 // border-radius: 0 0 6px 6px;
 // -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
 // box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


//front page
#footer{
  text-align: center ;

}

#front_span_right{
  font-family: "Arial" ;
  margin-top:(-3*$banner_height) ;
  float: right ;
  background-color: #DDD7CF;
  width:250px ;
  height:700px ;
  padding-top:60px ;
}

#front_span_left{
  font-family: "Arial" ;
  margin-top:(-3*$banner_height) ;
  float: left ;
  width:100px ;
  height:700px ;
  background-color: #DDD7CF;
}

#front_span_center{
  font-family: "Arial" ;
  margin-top:(-3*$banner_height);
  padding-top:100px ;
  margin-left:auto;
  margin-right:auto;
  display: block ;
  background: white;
  color: #000;
  height:700px ;
  margin-right:330px;
  margin-left:130px;
}

.front_right_text_container{
  height:100px ;
  display:block ;
  position:relative ;
  margin-left:10px ;
  color: #555555;
  width:90% ;
  font-size: 12px ;
  line-height:16px ;
  padding-left:10px;
}
#front_teotb_right_text{
  margin-top:(45+$banner_height);
}
#front_tom_right_text{
  margin-top: (20+$banner_height);
}
#front_ttc_right_text{
  margin-top: (20+$banner_height);
}

#front_teotb_left_text{
  display:block ;
  position:relative ;
  top:(-60+2*$banner_height);
  margin-left:80px ;
  line-height:20px ;
  height:(126+2*$banner_height) ;
  font-size: 14px ;
  line-height:16px ;
  margin-right:80px;
}

#front_tom_left_text{
  display:block ;
  position:relative ;
  margin-left:80px ;
  height:188px ;
  color: #222222;
  font-size: 14px ;
  line-height:16px ;
  margin-right:80px;
}
#front_ttc_left_text{
  display:block ;
  position:relative ;
  font-size: 14px ;
  line-height:16px ;
  margin-left:80px ;
  margin-right:80px;
}

#teotb_color_stripe{
  position:relative ;
  top:100px;
  height: $banner_height ;
  width:100% ;
  background-color: #003663;
}

#tom_color_stripe{
  position:relative ;
  top:219px;
  height: $banner_height ;
  width:100% ;
  background-color: #0B4417;
}

#ttc_color_stripe{
  position:relative ;
  top:338px;
  height: $banner_height ;
  width:100% ;
  background-color: #501616;
}

#front_teotb_banner_graphic{
  position:absolute ;
  top:100px ;
  height:$banner_height ;
  margin-left:$center_span_left_margin  ;
}

#front_teotb_banner_image{
  position:absolute ;
  display: block ;
  top:115px ;
  margin-left: $center_span_left_margin - 170px;
}

#front_tom_banner_graphic{
  position:absolute ;
  top:287px ;
  height:$banner_height ;
  margin-left:$center_span_left_margin  ;
}

#front_tom_banner_image{
  position:absolute ;
  display: block ;
  top:300px ;
  margin-left: $center_span_left_margin - 170px ;

}

#front_ttc_banner_graphic{
  position:absolute ;
  top:474px ;
  height:$banner_height ;
  margin-left:$center_span_left_margin  ;
}

#front_ttc_banner_image{
  position:absolute ;
  display: block ;
  top:487px ;
  margin-left: $center_span_left_margin - 170px ;
}

#books_are_free{
 padding-top:60px ;
 padding-left:80px;

}

//content page


#span_right{
  margin-top:-$banner_height ;
  float: right ;
  background-color: #DDD7CF;
  width:250px ;
  padding-top:60px ;
}

#span_left{
  margin-top:-$banner_height ;
  width:130px ;
  float: left ;
  background-color: #DDD7CF;
}

#span_center{
  margin-top:-$banner_height ;
  padding-top:100px ;
  display: block ;
  background: white;
  color: #333;
  margin-right:330px;
  margin-left:130px;
}
.inner{

}

#body_content, #side_body_content {
 margin-left:$center_span_left_margin ;
 margin-top:75px ;
 //background-color: green ;
}

.book_banner_color_stripe{
  position:relative ;
  top:100px;
  height: $banner_height ;
  width:100% ;
}

.red{
  background-color: #501616;
}
.red_text{
  a{color: #501616;}
}
.green{
  background-color: #0B4417;
}
.green_text{
  a{color: #0B4417;}
}
.blue{
  background-color: #003663;
}
.blue_text{
  a{color: #003663;}
}


#book_banner_image{
  position:absolute ;
  display: block ;
  top:115px ;
  margin-left: $center_span_left_margin - 170px ;
}

#book_banner_graphic{
  position:absolute ;
  top:100px ;
  height:$banner_height;
  margin-left:$center_span_left_margin  ;
}

#kpb_logo{
  position:absolute ;
  display: block ;
  top:10px ;
  margin-left: $center_span_left_margin;
}

#next_arrow{
   display: block ;
   position:relative ;
   bottom:75px ;
   margin-left: $center_span_left_margin;
}

.clearfix {

}

#email_contact{
  padding-left: 15px ;
  position:absolute ;
  display: block ;
  top:40px ;
}

#body_content_title{
 display:none ;
}

#menu{
  margin:0px ;
  margin-top:125px ;
  background: #DDD7CF ;
  padding:0px ;
  font-family: "helvetica", "Arial" ;
  font-size: 11px;
  line-height: 20px;
}

#menu_forward{
  padding-left:10px ;

  a {
   font-family: "helvetica", "Arial" ;
   font-size: 11px;
   line-height: 20px;

   text-decoration: none ;
   color: #222222;
  }
}

.menu_volume{
  padding-left:10px ;

  a {
   font-family: "helvetica", "Arial" ;
   font-size: 11px;
   line-height: 20px;
   font-weight: bold;

   text-decoration: none ;
  }
}


#menu ul {

   margin:0px ;
   padding:0px ;
   padding-left:10px ;

  list-style-type: none;


   li {
    margin:0px;
    padding-left:0px ;

    text-decoration: none ;
    list-style-type: none;

    a {
      margin:0px ;
      padding:0px ;
      text-decoration: none ;
      color: #222222;
    }

    &.selected a, a:hover {
      background: #DDD7CF;
      color:#222222;
      text-decoration: none ;
    }
  }
}
