/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$banner_height: 67px ;
$center_span_left_margin: 80px ;

body {
  font-family: "Georgia" ;
  font-size: 16px;
  line-height: 25px;
  min-width: 896px ;

  strong{
    font-family: "helvetica", "Arial" ;
    font-weight: bold ;
    font-size: 16px;
    line-height: 25px;
  }

  h1{
    font-size: 24px;
    line-height: 28px;
  }

}

.container {
  margin-top:20px ;
  display: block ;
  background-color: #eee;
 //-webkit-border-radius: 0 0 6px 6px;
 // -moz-border-radius: 0 0 6px 6px;
 // border-radius: 0 0 6px 6px;
 // -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
 // box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


//front page
#footer{
  text-align: center ;

}

#front_span_right{
  font-family: "Arial" ;
  margin-top:(-3*$banner_height) ;
  float: right ;
  background-color: #DDD7CF;
  width:20% ;
  height:1600px ;
  padding-top:60px ;
}

#front_span_left{
  font-family: "Arial" ;
  margin-top:(-3*$banner_height) ;
  width:10% ;
  float: left ;
  width:10% ;
  height:1660px ;

  background-color: #DDD7CF;
}

#front_span_center{
  font-family: "Arial" ;
  margin-top:(-3*$banner_height);
  padding-top:100px ;
  margin-left:auto;
  margin-right:auto;
  display: block ;
  background: white;
  color: #000;
  width:80% ;
  height:700px ;
}

.front_right_text_container{
  height:100px ;
  display:block ;
  position:relative ;
  margin-left:20px ;
  color: #555555;
  width:90% ;
  font-size: 12px ;
  line-height:16px ;

}
#front_teotb_right_text{
  margin-top:(45+$banner_height);
}
#front_tom_right_text{
  margin-top: (20+$banner_height);
}
#front_ttc_right_text{
  margin-top: (20+$banner_height);
}

#front_teotb_left_text{
  display:block ;
  position:relative ;
  top:(-60+2*$banner_height);
  margin-left:80px ;
  line-height:20px ;
  height:(126+2*$banner_height) ;
  width:75% ;
  font-size: 14px ;
  line-height:16px ;
}

#front_tom_left_text{
  display:block ;
  position:relative ;
  margin-left:80px ;
  height:188px ;
  color: #222222;
  width:75% ;
  font-size: 14px ;
  line-height:16px ;

}
#front_ttc_left_text{
  display:block ;
  position:relative ;
  font-size: 14px ;
  line-height:16px ;

  margin-left:80px ;
  width:75% ;
}



#teotb_color_stripe{
  position:relative ;
  top:100px;
  height: $banner_height ;
  width:100% ;
  background-color: #003663;
}

#tom_color_stripe{
  position:relative ;
  top:219px;
  height: $banner_height ;
  width:100% ;
  background-color: #0B4417;
}

#ttc_color_stripe{
  position:relative ;
  top:338px;
  height: $banner_height ;
  width:100% ;
  background-color: #501616;
}

#front_teotb_banner_graphic{
  position:absolute ;
  top:120px ;
  height:$banner_height ;
  margin-left:$center_span_left_margin  ;
}

#front_teotb_banner_image{
  position:absolute ;
  display: block ;
  top:135px ;
  margin-left: $center_span_left_margin - 175px ;
}

#front_tom_banner_graphic{
  position:absolute ;
  top:307px ;
    height:$banner_height ;
    margin-left:$center_span_left_margin  ;
}

#front_tom_banner_image{
  position:absolute ;
  display: block ;
  top:320px ;
  margin-left: $center_span_left_margin - 175px ;

}

#front_ttc_banner_graphic{
  position:absolute ;
  top:494px ;
  height:$banner_height ;
  margin-left:$center_span_left_margin  ;
}

#front_ttc_banner_image{
  position:absolute ;
  display: block ;
  top:507px ;
  margin-left: $center_span_left_margin - 175px ;
}



//content page


#span_right{
  margin-top:-$banner_height ;
  float: right ;
  background-color: #DDD7CF;
  width:20% ;
  height:32000px ;
  padding-top:60px ;
}

#span_left{
  margin-top:-$banner_height ;
  width:10% ;
  float: left ;
  width:10% ;
  height:32060px ;
  background-color: #DDD7CF;
}

#span_center{
  margin-top:-$banner_height ;
  padding-top:100px ;
  margin-left:auto;
  margin-right:auto;
  display: block ;
  background: white;
  color: #333;
  width:80% ;

}

#body_content, #side_body_content {
 margin-left:$center_span_left_margin ;
 margin-top:75px ;
  width:70% ;
 //background-color: green ;
}

.book_banner_color_stripe{
  position:relative ;
  top:100px;
  height: $banner_height ;
  width:100% ;
}

.red{
  background-color: #501616;
}
.green{
  background-color: #0B4417;
}
.blue{
  background-color: #003663;
}


#book_banner_image{
  position:absolute ;
  display: block ;
  top:135px ;
  margin-left: $center_span_left_margin - 175px ;
}

#book_banner_graphic{
  position:absolute ;
  top:120px ;
  height:$banner_height;
  margin-left:$center_span_left_margin  ;
}

#kpb_logo{
  position:absolute ;
  display: block ;
  top:30px ;
  margin-left: $center_span_left_margin;
}

.clearfix {

}

#email_contact{
  text-decoration: none ;
  font-size: 20px ;
  color: #222222;
  padding-left: 35px ;
  position:absolute ;
  display: block ;
  top:40px ;
}

#body_content_title{
 display:none ;
}

#menu{
  margin:0px ;
  margin-top:125px ;
  background: #DDD7CF ;
  padding:0px ;
}

#menu_forward{
   padding-left:10px ;
  a {
  text-decoration: none ;
    color: #222222;
  }

}

#menu ul {
   margin:0px ;
   padding:0px ;
   padding-left:10px ;

  list-style-type: none;


   li {
     margin:0px;
    padding-left:0px ;

     text-decoration: none ;
     list-style-type: none;

     a {
      margin:0px ;

      padding:0px ;
      text-decoration: none ;
      color: #222222;
    }

    &.selected a, a:hover {
      background: #DDD7CF;
      color:#222222;
      text-decoration: none ;
    }
  }
}
